- name: Deploy Node.js App to EC2
  hosts: web
  become: true
  tasks:
    # Debian/Ubuntu section
    - name: Update apt cache (Debian/Ubuntu)
      ansible.builtin.apt:
        update_cache: yes
      when: ansible_os_family == 'Debian'

    - name: Install Docker and dependencies (Debian/Ubuntu)
      ansible.builtin.apt:
        name:
          - docker.io
          - python3-docker
        state: present
      when: ansible_os_family == 'Debian'

    # Amazon Linux section
    - name: Install Docker and dependencies (Amazon Linux)
      ansible.builtin.yum:
        name:
          - docker
          - python3-pip
        state: present
      when: ansible_os_family == 'RedHat'

    - name: Install Docker SDK for Python (Amazon Linux)
      ansible.builtin.pip:
        name: docker
      when: ansible_os_family == 'RedHat'

    - name: Start Docker service
      ansible.builtin.service:
        name: docker
        state: started
        enabled: true

    - name: Pull Node.js Docker image
      community.docker.docker_image:
        name: "{{ docker_image }}"
        source: pull

    - name: Run Node.js container
      community.docker.docker_container:
        name: nodeapp
        image: "{{ docker_image }}"
        ports:
          - "{{ host_port }}:{{ container_port }}"
        state: started
        restart_policy: always